.blockquote-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 120px 0 180px;

    .container {
        background-color: unset;
        align-items: center;

        @include media('>=768px') {
            flex-direction: column;
            height: auto;
        }

        h2 {
            text-align: center;
            padding-bottom: 60px;
        }
    }
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-basis: auto;

    @include media('>=768px') {
        flex-direction: row;
    }  

    img {
        max-width: 100%;

        @include media('>=768px') {
            max-width: 100%;
            object-fit: cover;
        }  
    }
}

.tourist-info {
    background-color: $dark-gray;
    padding: 24px 30px;

    @include media('>=768px') {
        padding: 48px 60px;
    }  

    .bq-holder {
        position: relative;
        text-indent: 30px;

        h3 {
            margin-left: -30px;
        }

        .icon-quote-left {
            position: absolute;
            display: block;
            top: 40px;
            left: -30px;
            font-size: 20px;
            color: $accent;
        }

        p {
            margin: 0;
        }
    }
}