.steps-section {
    background-color: $dark-gray;
    padding: 60px 0;

    .steps-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        list-style-type: none;
        position: relative;

        @include media('>=768px') {
            display: flex;
            align-items: center;
            flex-direction: row;
            width: 100%;
            position: relative;
        }  

        .steps-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 60px 0;
            position: relative;
            text-align: center;

            @include media('>=768px') {
                padding: 0;
            }  

            &:after {
                position: absolute;
                content: '';
                background-image: url(/src/img/line-stroke.svg);
                position: absolute;
                top: 35px;
                left: 142px;
                height: 48px;
                width: 304px;
                background-position: -20px 0;
                color: antiquewhite;
            }
    
            &:last-of-type:after {
                content: none;
            }
        }
    }

    .icon-holder {
        padding-bottom: 20px;
    }
            
    i {
        font-size: 64px;

        &.icon-search {
            color: $accent;
        }

        &.icon-check-circle {
            color: $red;
        }

        &.icon-thumbs-up {
            color: $blue;
        }
    }
}
