.steps-section {
    background-color: $dark-gray;
    padding: 122px 0 60px 0;

    .steps-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 0;
        list-style-type: none;

        @include media('>=768px') {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
        }  

        .steps-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 60px 0;
            position: relative;
            text-align: center;

            @include media('>=768px') {
                padding: 0;

                &:after {
                    content: '';
                    position: absolute;
                    border-top: 1px dashed $white;
                    border-radius: 188px 188px 0px 0px / 70px 70px 0px 0px;
                    opacity: 0.5;
                    top: -35px;
                    left: 110px;
                    height: 70px;
                    width: 376px;
                }
        
                &:last-of-type:after {
                    content: none;
                }
            }  
        }
    }

    .icon-holder {
        padding-bottom: 20px;
    }
            
    i {
        font-size: 64px;

        &.icon-search {
            color: $accent;
        }

        &.icon-check-circle {
            color: $red;
        }

        &.icon-thumbs-up {
            color: $blue;
        }
    }
}
