.why-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 60px 0;

    @include media('>=768px') {
        flex-direction: column;
        padding: 60px 0;
    }

    .container {
        background-color: unset;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    width: 100%;

    h2 {
        padding-top: 25px; 

        @include media('>=768px') {
            padding-bottom: 5px;
        }
    }

    .text-holder {
        padding-bottom: 32px;
    }

    .col {
        width: 100%;

        @include media('>=768px') {
            width: 50%;
        }
        
        &:last-child {
            align-self: center;
            margin: 0 auto;
            width: 100%;

            @include media('>=768px') {
                align-self: center;
                margin: 0 auto;
                width: 100%;
                max-width: 550px;
            }
        }
    }
}

.image-holder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;

    &:nth-child(1) {
        margin: 0 0 16px -65px;
    }
}