@font-face {
    font-family: 'Josefin Sans';
    src: url('../../fonts/JosefinSans-Light.eot');
    src: url('../../fonts/JosefinSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/JosefinSans-Light.woff2') format('woff2'),
        url('../../fonts/JosefinSans-Light.woff') format('woff'),
        url('../../fonts/JosefinSans-Light.ttf') format('truetype'),
        url('../../fonts/JosefinSans-Light.svg#JosefinSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../../fonts/JosefinSans-Regular.eot');
    src: url('../../fonts/JosefinSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/JosefinSans-Regular.woff2') format('woff2'),
        url('../../fonts/JosefinSans-Regular.woff') format('woff'),
        url('../../fonts/JosefinSans-Regular.ttf') format('truetype'),
        url('../../fonts/JosefinSans-Regular.svg#JosefinSans-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../../fonts/JosefinSans-Bold.eot');
    src: url('../../fonts/JosefinSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/JosefinSans-Bold.woff2') format('woff2'),
        url('../../fonts/JosefinSans-Bold.woff') format('woff'),
        url('../../fonts/JosefinSans-Bold.ttf') format('truetype'),
        url('../../fonts/JosefinSans-Bold.svg#JosefinSans-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Aleo';
    src: url('../../fonts/Aleo-Regular.eot');
    src: url('../../fonts/Aleo-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Aleo-Regular.woff2') format('woff2'),
        url('../../fonts/Aleo-Regular.woff') format('woff'),
        url('../../fonts/Aleo-Regular.ttf') format('truetype'),
        url('../../fonts/Aleo-Regular.svg#Aleo-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}
