$white: #fff;
$black: #000;
$accent: #5373FD;
$accent-darker: #486BFE;
$dark-gray: #333;
$text-gray: #999;
$red: #FF6363;
$blue: #00A2FF;
$bg-gray: rgba(35, 35, 35, 0.9);

$base-font-size: 16px;

$font-family: 'Josefin Sans';
$title-font-family: 'Aleo';
$icon-font-family: 'icomoon';